.sideBar__profile-img {
  width: 40px;
  height: 40px;
  border-radius: 100px;
}

.sideBar__profile-wrapper {
  position: relative;
  margin-right: 15px;
}

.online__indicator {
  padding: 5px;
  background-color: green;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 100px;
  border: 1.5px solid #fff;
}

.chat__container {
  display: flex;
  align-items: center;
  padding: 0.5rem 2rem;
}

.chat__container:hover {
  background-color: #0061FE20;
  cursor: pointer;
}

.chat__name {
  margin: 0;
  font-weight: 700;
  font-size: 15px;
}

.chat__messageTime {
  margin: 0;
  padding-left: 10px;
  font-size: 12px;
  color: #cccaaa
}

.chat__sampleMessage {
  margin: 0;
  color: rgba(170, 170, 170, 1);
  font-size: 14px;
}

.chat__messageCount {
  padding: 2px 5px;
  background-color: #0061FE40;
  display: flex;
  justify-content: center;
  margin-left: 10px;
  border-radius: 8px;
}

.chat__messageCount-text {
  margin: 0;
  font-size: 11px;
  font-weight: 700;
  color: #0061FE;
  text-align: center;
}