.mainChat {
  width: 100%;
  height: 100%;
  display: flex;
  padding-top: 2rem;
}

.chat__header {
  display: flex;
  align-items: center;
  flex: 6;
}

.chat {
  flex: 6;
  display: grid;
  grid-template-rows: minmax(60px, auto) minmax(0, 100%);
  height: 100%;
}

.chatDetails {
  flex: 3;
}

.verticalLine__seprator {
  border-right: 1px solid #eee;
  margin: 6rem 0;
}

.searchBar__container {
  margin: 0 3rem;
}

.chatMessages-heading {
  margin-left: 3rem;
  margin-top: 3rem;
}

.chatMessages__heading-title {
  color: rgba(170, 170, 170, 1);
  font-weight: 500;
}

.chatMessages__header-name {
  font-size: 2rem;
}
