.UserProfile__container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.profile__header {
  margin: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.profile__image {
  width: 50px;
  height: 50px;
  border-radius: 100px;
}

.profile__info {
  display: flex;
  align-items: center;
}

.profile__details {
  display: flex;
  align-items: center;
  background-color: rgba(245, 245, 245, 1);
  padding-right: 10px;
  border-radius: 100px;
}

.profile__name-chevron {
  font-size: 24;
  color: rgba(170, 170, 170, 1);
  margin-left: 10px;
  transition: transform .2s;
}
.profile__name-chevron:hover {
  transform: scale(1.5);
}

.profile__name {
  margin: 0;
  color: #110F0F;
  font-weight: 500;
  margin-left: 15px;
}

.profile__notification {
  position: relative;
  margin-right: 30px;
}

.profile__notification:hover {
  cursor: pointer;
}

.profile__notification-indicator {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 10px;
  background-color: #0061FE;
  padding: 5px;
  border-radius: 20px;
  color: #fff;
}

.profile__body {
  margin: 5rem 0rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: purple;
}

.chatProfile__image {
  width: 100px;
  height: 100px;
  border-radius: 100px;
}

.chatProfile__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 4rem 0rem;
  margin-bottom: 3rem;
}

.chatProfile__name {
  margin: 0.5rem 0 0 0;
  font-size: 18px;
  font-weight: 500;
}

.chatProfile__nickname {
  font-size: 15px;
  color: rgba(170, 170, 170, 1);
  margin: 0;
}

.chatProfile__verticalLine-seprator {
  margin: 0 2rem;
  border-top: 1px solid #eee;
}

.chatProfile__multimedia-heading {
  margin: 0 2rem;
  margin-top: 1rem;
  font-size: 16px;
  font-weight: 700;
}

.chatProfile__multimedia {
  padding: 1rem 1.6rem;
  flex: 1.5;
  overflow: auto;
}

.chatProfile__multimedia-image {
  width: 80px;
  height: 80px;
  margin: 0.4rem 0.4rem;
  border-radius: 8px;
  transition: transform .2s;
}

.chatProfile__multimedia-image:hover {
  cursor: pointer;
  transform: scale(1.5);
}

.chatProfile__multimedia-viewAll {
  color: #0061FE;
  margin: 0;
  font-size: 15px;
  text-decoration: underline;
  text-align: center;
  /* margin-top: 1rem; */
  margin-bottom: 1rem;
}

.chatProfile__attachments {
  flex: 1;
  overflow: auto;
}